name: build

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        version:
          - 25

    steps:
      - id: checkout
        uses: actions/checkout@v5
      - id: java
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.version }}
          distribution: temurin
      - id: gradle
        uses: gradle/actions/setup-gradle@v5

      - id: build
        shell: bash
        run: ./gradlew build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - id: failureReport
        if: ${{ failure() }}
        uses: actions/upload-artifact@v5
        with:
          name: reports-${{ matrix.version }}
          path: |
            **/build/reports
